.idea/
out/
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/scala-2.12/classes/
target/scala-2.12/msggen_2.12-1.0.jar
target/specs2-reports/
target/streams/
target/surefire-reports/
target/test-classes/
target/.history
target/classes.-552553394.timestamp
target/msggen-1.0-SNAPSHOT.jar
target/test-classes.710257767.timestamp
src/main/resources/refactor